
    <div class="panel panel-primary">
        <div class="panel-heading"><br>
            <h2>Coupon List</h2>
            </div>
            <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Coupon Id</th>
                    <th>Category</th>
                    <th>Code</th>
                    <th>Offer</th>
                    <th>Company Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let coupon of coupons">
                        <td>{{coupon.couponId}}</td>
                        <td>{{coupon.category}}</td>
                        <td>{{coupon.count}}</td>
                        <td>{{coupon.offer}}</td>
                        <td>{{coupon.companyName}}</td>
                        <td>
                            <button (click)="updateCoupon(coupon.couponId)" class="btn btn-info" style="margin-left: 10px">Update</button>
                            <button (click)="deleteCoupon(coupon.couponId)" class="btn btn-danger" style="margin-left: 10px">Delete</button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<br>
