<header>
        <!-- Background image -->
    <div class="text-center bg-image">
            <img src="assets/images/home.jpg" alt="home">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">Welcome to OnDeals</h1>
                        <a class="btn btn-outline-light btn-lg" href="#!" role="button">Start</a>
                    </div>
                </div>
            </div>
        </div>
        
</header>
