h4.code{
    background-color: bisque;
    border-radius: 10px;
    padding: 5px;
    }
    
    .carousel-item{
        height:500px;
    }
    
    .d-block{
        height: 500px;
    }

.container{
padding: 10px;
}

img{
    width: 100px;
    height: 100px;
    padding: 10px;
}

h6{
    text-align: center;
}

.items a:hover{
    color: blue;
}

h5{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100ch;
}

.card{
    padding: 20px;
    margin: 40px;
}

.card img{
    width: 200px;
    height: 200px;
    margin-bottom: 15px;
    transition: 0.3s ease-in-out;
}

.card img:hover{
    transition: 0.3 ease-in-out;
    transform: scale(1.1);
}

img.cart{
    width: 50px;
    height: 50px;

}



h4.code{
background-color: bisque;
border-radius: 10px;
padding: 5px;
}
