<nav class="navbar navbar-expand-sm bg-primary navbar-dark" id="navbar">
    <div class="container">
        <a class="navbar-brand font-weight-bold" href="#"><img class="logo" src="assets/images/ondeal11.png" alt="logo"></a>
    
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
                <!-- Links -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a routerLink="coupons" class="nav-link" routerLinkActive="active">Coupon List</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="create-coupon" class="nav-link" routerLinkActive="active">Add Coupon</a>
                    </li>
                </ul>
    
            
    </div>
</nav>
