<div class="col-md-8 offset-md-3">
    <br>
    <h3>Create Coupon</h3>
    <div class="container">
        <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="id">Id</label>
            <input type="text" class="form-control" id="id" required [(ngModel)]="coupon.id" name="id">
        </div>

        <div class="form-group">
            <label for="provider">Proovider</label>
            <input type="text" class="form-control" id="provider" required [(ngModel)]="coupon.provider" name="provider">
        </div>

        <div class="form-group">
            <label for="code">Code </label>
            <input type="text" class="form-control" id="code" required [(ngModel)]="coupon.code" name="code">
        </div>

        <div class="form-group">
            <label for="offer">Offer </label>
            <input type="text" class="form-control" id="offer" required [(ngModel)]="coupon.description" name="description">
        </div>

        <div class="form-group">
            <label for="price">Price</label>
            <input type="text" class="form-control" id="price" required [(ngModel)]="coupon.price" name="price">
        </div>

        <button type="submit" class="btn btn-success">Submit</button><br><br>

        </form>
    </div>
</div>


