<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="items">
            <a>
                <img src="assets/images/allProducts.jpg" alt="">
                <h6>All Coupons</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mobile.jpg" alt="">
                <h6>Mobiles</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/HA1.jpg" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/laptop.jpg" alt="">
                <h6>Laptops</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mf.jpg" alt="">
                <h6>Men Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/p-4.jpg" alt="">
                <h6>Women Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/watch.jpg" alt="">
                <h6>Watches</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/acc.jpg" alt="">
                <h6>Accessories</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/gro.jpg" alt="">
                <h6>Grocery</h6>
            </a>
        </div>
    </div>
</div>

<!-- slide show-->


<!--greed coupons-->
<div class="container">
    <div class="row">
        <ng-container class="list" *ngFor="let coupon of coupons">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <p>Category: {{coupon.category}}</p>
                    <p>Provider: {{coupon.provider}}</p>
                    <p>{{coupon.description}}</p>
                    <p>Price: {{coupon.price}}</p>
                    <a href="#" class="btn btn-primary">GRAB DEAL</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>
