<div class="cart-top container-fluid">
    <div class="container d-flex">
        <div class="items">
            <a>
                <img src="assets/images/allProducts.jpg" alt="">
                <h6>All Coupons</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mobile.jpg" alt="">
                <h6>Mobiles</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/headphone.jpg" alt="">
                <h6>Headphones</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/laptop.jpg" alt="">
                <h6>Laptops</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/mf.jpg" alt="">
                <h6>Men Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/p-4.jpg" alt="">
                <h6>Women Fashion</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/watch.jpg" alt="">
                <h6>Watches</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/acc.jpg" alt="">
                <h6>Accessories</h6>
            </a>
        </div>
        <div class="items">
            <a>
                <img src="assets/images/gro.jpg" alt="">
                <h6>Grocery</h6>
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ng-container> <!--<ng-container *ngFor="let coupon of coupons>-->
            <div class="card col-md-3">
                <img src="" alt="">
                <h5><!--{{}}--></h5>
                <p><!--{{}}--></p>
                <p><!--{{}}--></p>
                <p><!--{{}}--></p>
                <button class="btn btn-primary">Grab deal</button>
            </div>
        </ng-container>
    </div>

</div>

