<!--<header>
    <div class="navbar navbar-dark bg-primary shadow-sm ">
        <div class="navbar-brand align-items-center d-flex"> &nbsp;
            <img class="logo" src="assets/images/ondeal11.png" alt="logo">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search product">
            </div>
            <span><em class="fa-solid fa-magnifying-glass search-icon"></em></span>
        </div>
        <button class="btn btn-primary" >
            <em style="font-size: 20px;" class="fa-solid fa-cart-shopping">Login</em>
        </button>
        <button class="btn btn-primary">
            <em style="font-size: 20px;" class="fa-solid fa-cart-shopping">Signin</em>
        </button>
    </div>
</header>-->

<!--🛒
<div class="badge bg-danger">0</div>-->
<header>
    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">
        <img class="logo" src="assets/images/ondeal11.png" alt="logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/admin-dashboard">Admin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/signup">Signup</a>
            </li>
            
        </ul>
            <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
</header>