<header>
    <div class="navbar navbar-dark bg-primary shadow-sm ">
        <div class="navbar-brand align-items-center d-flex"> &nbsp;
            <img class="logo" src="assets/images/ondeal11.png" alt="logo">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Search product">
            </div>
            <span><em class="fa-solid fa-magnifying-glass search-icon"></em></span>
        </div>
        <button class="btn btn-primary" >
            <em style="font-size: 20px;" class="fa-solid fa-cart-shopping">Login</em>
        </button>
        <button class="btn btn-primary">
            <em style="font-size: 20px;" class="fa-solid fa-cart-shopping">Signin</em>
        </button>
    </div>
</header>

<!--🛒
<div class="badge bg-danger">0</div>-->